<%- include('../../share/includes/head', {pageTitle:'All Your Orders'}) %> 
<link rel="stylesheet" href="/style/orders.css">


</head>
<body>
  <%- include('../../share/includes/header') %> 
  <main>
    <h1>All Yourd Orders</h1>
   <%- include('../../share/includes/order-list') %> 
   
  </main>
<%- include('../../share/includes/footer') %>

