<header id="main-header">
    <div id="logo"><a href="/">AEF</a></div>
    
    <nav>
      <%- include('nav-items') %>
    </nav>

    <!-- navigation button in mobile -->
    <button id="mobile-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>


  </header>

<!-- same cheez mobile me -->
  <aside id="mobile-menu">
    <nav>
      <%- include('nav-items') %>
    </nav>
  </aside>